<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Chess Game</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="container">
        <div class="chess-board" id="chess-board-window">
        </div>
        <div class="opponents">
            <div class="opponent">
                <img src="avatar.jpg" alt="Player 1">
                <div class="info">
                    <h3>Player 1</h3>
                    <p>Country: USA</p>
                    <p>Games Played: 150</p>
                    <p>Games Won: 100</p>
                    <p>Games Drawn: 20</p>
                </div>
            </div>
            <div class="opponent">
                <img src="avatar.jpg" alt="Player 2">
                <div class="info">
                    <h3>Player 2</h3>
                    <p>Country: UK</p>
                    <p>Games Played: 200</p>
                    <p>Games Won: 130</p>
                    <p>Games Drawn: 30</p>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/board.js"></script>
</body>

</html>