<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Chess Game</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="/static/socket.io.js"></script>
</head>

<body class="dashboard-body">
    <div id="promotion-menu" class="promotion-menu hidden">
    <img id="selected-queen" src="/static/files/pieces/white_queen.png" alt="Queen" class="promotion-piece" piece="queen">
    <img id="selected-rook" src="/static/files/pieces/white_rook.png" alt="Rook" class="promotion-piece"piece="rook">
    <img id="selected-bishop" src="/static/files/pieces/white_bishop.png" alt="Bishop" class=" promotion-piece" piece="bishop">
    <img id="selected-knight" src="/static/files/pieces/white_knight.png" alt="Knight" class="promotion-piece" piece="knight">
    </div>

    <div class="chess-container">
        <div class="chess-board" id="chess-board-window">
        </div>
        <div class="opponents">
            <div class="opponent">
                <img src="/static/files/{{data.dp}}" alt="Player 1">
                <div class="info">
                    <h3>{{data.fullname}}</h3>
                    <p>Country: {{data.country}}</p>
                    <p>Games Played: {{data.total}}</p>
                    <p>Games Won: {{data.won}}</p>
                    <p>Games Drawn: {{data.drawn}}</p>
                </div>
            </div>
            <div class="opponent">
                <img src="/static/files/avatar.jpg" alt="Player 2" id="opponent-dp">
                <div class="info">
                    <h3 id="opponent-name">Waiting for opponent........</h3>
                    <p id="opponent-country">Country: --</p>
                    <p id="opponent-played">Games Played: --</p>
                    <p id="opponent-won">Games Won: --</p>
                    <p id="opponent-drawn">Games Drawn: --</p>
                </div>
            </div>
            <button id="resign-button" onclick="resignGame()">Resign</button>
            <div id="turn-message" style="width:100%:text-align:center"></div>
        </div>
    </div>
    <script src="../static/board.js"></script>
    <span user-sid={{data.sid}} user-id="{{data.id}}" id="user_token"></span>

    <div id="winner-popup" class="popup">
        <div class="popup-content">
            <h1 id="winner-message">You have won</h1>
            <button id="new-match-button" onclick="newGame()">New Match</button>
        </div>
    </div>
</body>

</html>