<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/dashboard.js"></script>
</head>
<body class="dashboard-body">

<div class="dashboard-container">
    <img src="/static/files/{{data.dp}}" alt="Profile Picture" class="profile-picture">
    <div class="user-info">
        <div><strong>Full Name:</strong> {{data.fullname}}</div>
        <div><strong>Username:</strong> {{data.username}}</div>
        <div><strong>Country Rank:</strong> #{{data.country_rank}}</div>
        <div><strong>Worldwide Rank:</strong> #{{data.world_rank}}</div>
        <div class="elo-rating">Elo Rating: {{data.elo_rating}}</div>
        <div><strong>Total Games Played:</strong> {{data.total}}</div>
        <strong>Won:</strong> {{data.won}}
        <strong>Drawn:</strong> {{data.drawn}}
        <strong>lost:</strong> {{data.lost}}
    </div>
    <div class="buttons">
        <button onclick="updateProfile()">Update Profile</button>
        <button onclick="changePassword()">Change Password</button>
    </div>
    <button class="play-button" onclick="playGame()">Play Game</button>
</div>
</body>
</html>
